<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>

<body
  style="margin:0; padding:150px 0 0 0; text-align:center; font-family:arial; font-size:36px; background:#f0f0f0; color:#369; ">
  <h1><%= title %></h1>
  <p>Federation Server API</p>
</body>

</html>